api:
  dashboard: true

log:
  level: INFO

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"

# Static configuration for certificates
tls:
  certificates:
    - certFile: "/etc/certs/localhost.crt"
      keyFile: "/etc/certs/localhost.key"
  stores:
    default:
      defaultCertificate:
        certFile: "/etc/certs/localhost.crt"
        keyFile: "/etc/certs/localhost.key"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    directory: "/etc/traefik/dynamic"
    watch: true 