@tailwind base;
@tailwind components;
@tailwind utilities; 

@font-face {
  font-family: AlmendraDisplay;
  src: url('/fonts/AlmendraDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-family: AlmendraDisplay, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
} 