@font-face {
  font-family: 'Dogica';
  src: url('https://db.onlinewebfonts.com/t/57d7ce13093381acee3d40c5a512c770.eot');
  src: url('https://db.onlinewebfonts.com/t/57d7ce13093381acee3d40c5a512c770.eot?#iefix') format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/57d7ce13093381acee3d40c5a512c770.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/57d7ce13093381acee3d40c5a512c770.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/57d7ce13093381acee3d40c5a512c770.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/57d7ce13093381acee3d40c5a512c770.svg#Dogica') format('svg');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full;
}

body {
  @apply bg-gray-950 text-gray-100;
  font-family: 'Dogica', monospace;
}

