name: PR Demo Environment Cleanup

on:
  pull_request:
    types: [closed]
    branches-ignore: [staging]

jobs:
  cleanup:
    runs-on: [self-hosted, demo]
    steps:
    - name: Cleanup demo environment
      run: |
        cd docker/staging
        docker compose -p "pr-${{ github.event.pull_request.number }}" down --volumes --remove-orphans 